{% extends 'myadmin/base.html' %}
{% block search %}
	<form class="navbar-search pull-left" action="{% url 'myadmin_ordersdetail' 1 %}" method="get">
        <input type="text" class="search-query span2" placeholder="Search" name='name' value="request.GET.name" />
        <input style='border:none;' type="submit" value="搜索"/>
    </form>
{% endblock %}
{% block content %}

	<h4>订单信息管理</h4>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>商品订单号</th>
				<th>图片</th>
				<th>商品名称</th>
				<th>商品单价</th>
				<th>购买数量</th>
			</tr>
		</thead>
		<tbody>
			{% for v in detaillist %}
			<tr>
				<td>{{v.orderid}}</td>
				<td><img src="/static/myadmin/goods/s_{{v.picname}}"width='60' ></td>
				<td>{{v.name}}</td>
				<td>{{v.price}}</td>
				<td>{{v.num}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>				
{% endblock %}